<!-- on this page i want to build a form. In HAML. This form allows a user to add an event to their database. It's just like the seed data. Or another form that we did in Joel's examples.  -->

<div id = "card_holder">
<!-- here i want to add a function that increments the z index of each div by 1  -->
    <% @rss.each_with_index do |event, index| %>
            
            <div class="event_list" style="z-index:<%= index %>;">
                <ul>
                    <li><h2><%= event.name %></h2></li>
                    <li><%= event.summary %></li>
                    <li><a href="<%= event.url %>">link</a></li>
                    <li class ="option_no">
                        <%= link_to "/events/?id=#{event.id}&attending=false", {:method=> :post, :remote => true, class: "glyphicon glyphicon-remove-circle"} do %>
                        <% end %>
                    </li>  
                    <li class ="option_yes">    
                        <%= link_to "/events/?id=#{event.id}&attending=true", {:method=> :post, :remote => true, class: "glyphicon glyphicon-ok-circle"} do  %>
                        <% end %>
                    </li>     
                </ul>
           </div>
    <% end %>


    
    <div class="event_list" style="background:url('http://i2.wp.com/allthingsd.com/files/2013/09/redchairs-640x480.jpg?resize=640%2C480');">
        <% if @current_user.present? %>
        <p style="color:white; font-size:1.5em;">There are no more events </p>
        <% else %>
        <p style="color:white; font-size:1.5em;">Sign up to save your results </p>
        <% end %>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function() {

     
    $('.option_no').click(function() {
        $(this).closest('div.event_list').addClass('animated bounceOutLeft');
        $(this).closest('div.event_list').hide(1000);
    });
    $('.option_yes').click(function() {
        $(this).closest('div.event_list').addClass('animated bounceOutRight');
        $(this).closest('div.event_list').hide(1000);
    });
 });



</script>
