<!DOCTYPE html>
<html>
<head>
  <title>PlayGo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>
  <nav id="main_nav">
  <li><%= link_to('Sign up', new_user_path) %></li>
  <li><%= link_to('Sign in', login_path) %></li>
  <li><%= link_to('Log out', login_path, :method => :delete)%></li>
  </nav>
  <div id="container">
     <% if @current_user %>
     <span>Welcome back <%= @current_user.first_name %></span>
     <% end %>

    <nav>
      <a href="/events"><h1>Play</h1></a>
      <a href="/users"><h1>Go</h1></a>
      
    </nav>
 
    <%= yield %>
  </div>

</body>
</html>
